<div class="flex flex-col">
    {{#if errors}}
    {{>error}}
    {{/if}}
    <form id="project-id" action="">
        <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Add a project</h1>
        <div class="mt-10">
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <div class="mt-1 relative rounded-md shadow-sm">
                <input type="text" name="name" id="name"
                    class="block w-full pr-10 border border-gray-600 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md"
                    placeholder="Project Name" aria-invalid="true" aria-describedby="name-error">
                <div class="hidden absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <!-- Heroicon name: solid/exclamation-circle -->
                    <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>

        </div>
        <div class="mt-10">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <div class="mt-1 relative rounded-md shadow-sm">
                <textarea id="description" name="description" rows="3"
                    class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md"></textarea>
            </div>

        </div>
        <div class="mt-10">
            <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
            <div class="mt-1 relative rounded-md shadow-sm">
                <input type="file" name="image" id="image"
                    class="block w-full pr-10 border border-gray-600 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm rounded-md"
                    placeholder="Image" value="" aria-invalid="true" aria-describedby="image-error">
            </div>

        </div>
        <div class="mt-10 ">
            <label for="tags" class="block text-sm font-medium text-gray-700">Add Tags to Project </label>
            <div class="mt-1 flex rounded-md shadow-sm">
                <div class="relative flex items-stretch flex-grow focus-within:z-10">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                        </svg>
                    </div>
                    <input type="text" name="tag" id="tag"
                        class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-10 sm:text-sm border-gray-300"
                        placeholder="E-commerce">
                </div>
                <button id="tag_add"
                    class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Add Tag</span>
                </button>
            </div>
            <ul class="mt-4 border rounded-md shadow-sm " id="tags">

                {{!-- <li class="px-2 border-b-2 ">commerce</li>
                <li class="px-2 border-b-2 ">commerce</li>
                <li class="px-2 border-b-2 ">commerce</li>
                <li class="px-2 border-b-2 ">commerce</li>
                <li class="px-2 border-b-2 ">commerce</li> --}}
            </ul>
        </div>

        <div class="mt-10 ">
            <label for="technology" class="block text-sm font-medium text-gray-700">Add Technologies to Project </label>
            <div class="mt-1 flex rounded-md shadow-sm">
                <div class="relative flex items-stretch flex-grow focus-within:z-10">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
                        </svg>
                    </div>
                    <input type="text" name="technology" id="technology"
                        class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-10 sm:text-sm border-gray-300"
                        placeholder="NodeJS">
                </div>
                <button id="technology_add"
                    class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Add Technology</span>
                </button>
            </div>
            <ul class="mt-4 border rounded-md shadow-sm " id="technologys">

            </ul>
        </div>
        <div class="mt-10">
            <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Create Project
            </button>
        </div>
    </form>
</div>
<script src="/js/project-form.js"></script>